.navBar{
 position: fixed !important;
    z-index: 6000;
    flex-flow: row-reverse;
    background-color: #19648d;
}

.navhover{
  color: #eee !important;
}

.wrapper {
 position: relative;
 padding-top: 53.85%; 
}
.image {
 position: absolute !important;
 left: 0;
 top: 0;
 width: 100%;
 height: auto;
}

.crapper{
  position: relative;
  padding-top: 100%
}

.imagelogo{
  position: absolute !important;
 left: 0;
 top: 0;
 width: 100%;
 height: auto;
}

#footer{

    color: #fff;
}

.horizontal .insta {
 color: #e2276e;
}

.horizontal .fb {
 color: #2d87be;
}

.horizontal .tw {
 color: #26baf0;
}

.horizontal .ln {
 color: #e57f2d;
}

.verticalList li a {
 color: #fff;
 font-family: 'Roboto-Light';
 font-size: 15px;
 padding: 3px 0;
}

.seoTag-one{
 font-size: 19px;
 line-height: 24px;
 color: white;
}

.sectionHeading{
 
  margin: 0;
  padding: 0;
  border-left: 12px solid #db2b49;
  padding: 0 0 0 20px;
  margin: 0 0 20px 0;
  font-family: BebasNeue;
  font-size: 55px;
  line-height: 46px;
color: white;
}

.paragraph{
 color: white;
}

.slider{
 width: 650px;
 overflow: hidden;
 position: relative;
 margin: auto;
 /* background-color: ghostwhite; */
}

.imgLogo{
 overflow: hidden;
 /* width: 1000%; */
 margin: 0;
 padding: 20px;
}

nav:hover>.navbar-brand{

 border-radius: 5px;
 opacity: 10px;

}

li:hover>.nav-link{
  border-radius: 5px;
  opacity: 10px;
}

.weWorksWith{
  position: absolute;
    left: 0;
    width: 100%;
    bottom: 20px;
}

.home-description{
  overflow: hidden;
}

.paraContent{
  text-align: center;
  margin-bottom: 64px;
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.sectionHeadingBlue{
  margin: 0;
    padding: 0;
    border-left: 15px solid #db2b49;
    padding: 0 0 0 20px;
    margin: 10px 0 30px 0;
    color: #11658c;
    font-family: BebasNeue;
    font-size: 45px;
    line-height: 46px;
    font-weight: 600;
    letter-spacing: -3px;
}

.profile-circle{
 
    width: 120px;
    height: 120px;
}

.circul{
  border: 3px solid #11658c;
    width: 42px;
    height: 42px;
    display: inline-block;
    border-radius: 30px;
    padding: 5px 0 0;
    margin-bottom: 10px;
}

.paragraphs{
  margin-left: 0;
}

#howDoesItWork{
  background-color: #fff;
    padding: 30px 30px 30px 20px;
    width: 100%;
    background-color: #fff;
    padding: 30px 30px 30px 20px;
    width: 100%;
}

.carousel-inner>.active {
  left: 0;
}

#slider1 .profile-circle {
  margin: 0 auto;
  border-radius: 100px;
}

 .responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

#slider1 blockquote {
  color: #11658c;
}

#slider1 blockquote {
  text-align: center;
  border: none;
  padding: 0;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

#howDoesItWork .sectionHeadingBlue {
  margin: 50px 0 70px;
}

#contactUs {
  color: #fff;
  background-color: #dc2c48;
  padding: 60px 0 0;
}

.contactHeading{
  padding: 0;
    color: #fff;
    font-family: BebasNeue;
    font-size: 40px;
}

.paragraphs {
  font-family: 'Roboto-Light',sans-serif;
  font-size: 19px;
  line-height: 24px;
  padding: 0;
}

.bottom {
  background-color: #da2c49;
  width: 100%;
  height: 20px;
}

.girlFooter {
  margin: 0;
  position: relative;
  bottom: -60px;
}

.animate{
  position: relative;
  animation-name: example;
  /* animation-direction: inherit; */
  animation-timing-function: ease-in-out;
  animation: myfirst 5s linear 2s infinite alternate;
}

@keyframes example {
  0%   { left:0px; top:0px;}
  25%  { left:100px; top:0px;}
 
 
  100% { left:0px; top:0px;}
}

.sectionHead{
  margin: 0;
  padding: 0;
  border-left: 12px solid #db2b49;
  padding: 0 0 0 20px;
  margin: 0 0 20px 0;
  font-family: BebasNeue;
  font-size: 45px;
  line-height: 46px;
  letter-spacing: -3px;
  color:  #19648d;
  margin-top: 10px;
}

@media only screen and (max-width : 900px){
  .subImage {
    position: relative;
    padding-top: 75.04%; 
   }
   .sub {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
   }

   .girlFooter {
    margin: 0;
    position: relative;
  }

  .horizontal{
    padding: 0;
  }

  .sectionHead{
    border-left: 12px solid #db2b49;
    padding: 0 0 0 20px;
    margin: 0 0 20px 0;
    font-family: BebasNeue;
    font-size: 30px;
    line-height: 46px;
    letter-spacing: -3px;
    color: #19648d;
   
    font-weight: 700;
    margin-top: 50px;
  }



}